.project-slideshow {
	list-style: none;
}

.slideshow-container {
	width: 100%;
	height: auto;

	@media only screen and (min-width: 800px) {
		width: 800px;
		margin: 0 auto;

		& img {
			height: 100%;
			width: 100%;
		}
	}
}

.modal-content-wrapper {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.project-description-text {
	width: auto;
	overflow-y: auto;
	position: relative;
}

.quiz-general-description {
	height: auto;
	position: relative;
}
