.project-card {
	height: 100%;
}

.project-card-image {
	height: 195px !important;
}

.uk-card-body {
	@media screen and (min-height: 450px) {
		height: 200px;
	}

	&.project-description {
		height: 70px;
	}
}
