.project-modal {
	height: 100%;
}

.project-description-modal {
	height: 100%;
	overflow-y: auto;
}

.project-slideshow {
	list-style: none;
}

.slideshow-image {
	max-width: 100% !important;
	height: auto !important;
}
