.introduction-section {
	display: flex;
	flex-flow: column;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.text-wrapper {
	font-size: 32pt;
	color: white;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	& .highlight {
		color: #fff685;
		margin-left: 10px;
	}

	@media screen and (max-width: 525px) {
		font-size: 1.4em;
		margin-top: 5px;
	}
}

.break {
	width: 100%;
}

.i-am-container {
	display: flex;
	flex: 2;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.fullstack-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 25px;
	top: -1em;
}

.description-me {
	margin-top: 10px;
}

.full-p {
	position: relative;
	font-size: 0.7em;
	margin-top: 10px;
	margin-bottom: -15px;
	animation-delay: 0.2s;
	animation-duration: 0.7s;
}

.stack-p {
	position: relative;
	width: auto;
	margin-top: 10px;
	font-size: 0.7em;
	animation-delay: 0.3s;
	animation-duration: 0.7s;
}

.junior-text {
	position: relative;
	font-size: 0.4em;
	top: 2em;
	right: 2em;
	z-index: 9;
	transform: rotate(-45deg) scale(0.7);
}

.utvikler-wrapper {
	margin-top: 10px;
}
