html,
body,
#app,
#app > div {
	margin: 0;
	background: #222;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.content-wrapper {
	flex: 1 1 auto;
	overflow: hidden;
}

.go-to-socials {
	position: relative;
	left: 50%;
	width: 20px;
	margin: 0;
	z-index: 10;
}

.go-to-socials:hover {
	text-decoration: none;
	animation: scroller 3s infinite;
	animation-timing-function: ease;
}

.maintenance-card {
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	flex-flow: column;
}

.dotnav {
	position: sticky !important;
}

.footer {
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1e87f0;
	color: white;
	text-align: center;
	height: 100px;
	padding-top: 20px;
}

.socials-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 5px;
	height: 30px;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.socials-wrapper li {
	list-style: none;
}

.uk-icon {
	padding-top: 10px;
	padding-left: 20px;
	text-align: center;
	text-decoration: none;
}

.uk-icon:hover {
	opacity: 0.5;
	color: white;
	text-decoration: none;
}

.socials-linkedin {
	color: white;
}

.socials-github {
	color: white;
}

.copyright {
	padding-top: 20px;
}

.dotnav {
	margin-left: 20px;
}
